<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title> House of Representatives - Florida - {{ district }} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style8.css') }}">
</head>
<body>

<div id="container">

<h1> District {{ district }} </h1>
<p> Representative: {{ name }} </p>
<p> Party: {{ party }} </p>
<h2> {{ name }}'s PolitiFact Scorecard</h2>
<p>The scorecard indicates how many statements the representative has made that fall under each category. "None" indicates that they do not have a record on PolitiFact's website</p>
<p> True: {{ true_statement }} </p>
<p> Mostly true: {{ mostly_true }} </p>
<p>Half true: {{ half_true }}</p>
<p>Mostly false: {{ mostly_false }}</p>
<p>False: {{ false_statement }}</p>
<p>Pants on fire: {{ pants_on_fire }}</p>
<h2>Demographic profile of district {{ district}}: </h2>
<p> Total of citizens 18 years and older: {{ total_citizens }} </p>
<h3> Voting age population:</h3>
<p>18-29 years: {{ eighteen_twentynine }} </p>
<p>30-44 years: {{ thirty_fortyfour }} </p>
<p>45-64 years: {{ fortyfive_sixtyfour }} </p>
<p>65 years and over: {{ sixtyfive_over }} </p>

<h3>Sex</h3>
<p>Male: {{male}}</p>
<p>Female: {{female}}</p>

<h3>Race:</h3>
<p>White alone: {{ white }}</p>
<p>Black or African American alone: {{ black }}</p>
<p>American Indian and Alaska Native alone: {{ american_indian }}</p>
<p>Asian alone: {{ asian }}</p>
<p>Native Hawaiian and Other Pacific Islander alone: {{ native_hawaiian }}</p>
<p>Some other race alone: {{ some_other_race }}</p>
<p>Two or more races: {{ two_or_more }}</p>


<h3>Hispanic origin:</h3>
<p>Hispanic or Latino: {{ hispanic_or_latino }} </p>
<p>Not Hispanic or Latino: {{ not_hispanic_or_latino }}</p>
<p>White alone, not Hispanic or Latino: {{ white_not_hispanic_or_latino }}</p>

<h3>Education:</h3>
<p>Citizens 25 years and older with a bachelor's degree or higher: {{ bachelors_degree }}</p>

<h3>Income:</h3>
<p>Households below the poverty level: {{ poverty_level }}</p>
<p>Households with income of $100,000 or more: {{ over_100k }}</p>
<p><a href="{{ url_for('index') }}">Return to list</a></p>

<footer><a href="https://github.com/nicoledan/flask-florida-representatives/tree/master">Project</a> by Nicole Dan</footer>
</div>

</body>
</html>
