<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title> House of Representatives - Florida </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style8.css') }}">
</head>
<body>

<div id="container">

  <h1>Florida Congressional Representatives</h1>
  <p> This is a list of Florida Congressional Representatives. Click the links below to find a demogrpahic profile of the representative's district and their PolitiFact data. You can find your representative <a href="http://www.house.gov/htbin/findrep" target="_blank">here.</a></p>
  <ul>
    {% for pair in pairs %}
    <li> <a href="{{ url_for('detail', district=pair[0] ) }}"> Representative {{ pair[1] }} </a> </li>
    {% endfor %}
  </ul>
<footer><a href="https://github.com/nicoledan/flask-florida-representatives/tree/master">Project</a> by Nicole Dan</footer>
</div>

</body>
</html>
